body {
    text-align: center;
    background-image: linear-gradient(to top left, hsl(221, 97%, 23%), hsl(221, 97%, 75%));
}

.header {
    font-family: monospace;
    font-size: 64px;
    color: black;
}

a {
    color: black;
    display: block;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;
    background-color: lightgreen;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

a:hover {
    text-decoration: none;
    color: black;
    background-color: hsl(120, 50%, 50%);
}

/* Bubble Animation*/

.bubble {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    border: 3px solid rgba(255, 255, 255, 0.35);
    box-shadow: inset 0 0 5px 5px rgba(255, 255, 255, 0.2),
        0 0 5px 5px rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 0;
    left: var(--left);
    animation: bubble 3.25s cubic-bezier(0.49, 0, 0.34, 1) infinite;
    animation-direction: alternate-reverse;
}

.bubble::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.2);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#bubble1 {--left: 10%;}
#bubble2 {--left: calc(40% - 25px);}
#bubble3 {--left: calc(60% - 25px);}
#bubble4 {--left: calc(90% - 50px);}

@keyframes bubble {
    0% {
        bottom: 0;
        left: var(--left);
    }

    100% {
        bottom: calc(100% - 50px);
    }
}